* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #050814;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-weight: 400;
  line-height: 1;
  position: relative;
  overflow-y: hidden;
}

.todo-list-container {
  margin: 0 auto;
  width: 60rem;
  /*height: 100%;*/
  background-color: #050814;
  box-shadow: 0 0 40px 1px #7284d8;
  padding: 2rem;
  border-radius: 20px;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

h1 {
  text-align: center;
  margin-bottom: 4rem;
}

h1,
h2 {
  font-size: 4rem;
  text-transform: uppercase;
  color: #ebedf9;
}

h2 {
  font-size: 3rem;
  margin-top: 1.2rem;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.task-input,
.edit-task-input,
.log-in-form__username-input,
.log-in-form__password-input,
.sign-up-form__username-input,
.sign-up-form__password-input,
.sign-up-form__confirm-password-input {
  width: 34rem;
  height: 3rem;
  border-radius: 1rem;
  border: none;
  padding: 2rem;
  font-size: 2rem;
}

.log-in-form__password-input {
  min-width: 34rem;
}

.task-input:focus,
.edit-task-input:focus,
.log-in-form__username-input:focus,
.log-in-form__password-input:focus,
.sign-up-form__username-input:focus,
.sign-up-form__password-input:focus,
.sign-up-form__confirm-password-input:focus {
  outline: none;
}

.add-btn,
.ok-btn {
  width: 6rem;
  height: 3rem;
  text-transform: uppercase;
  color: #ebedf9;
  background-color: #364fc7;
  border: none;
  font-size: 2rem;
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s;
}

.add-btn:hover,
.ok-btn:hover,
.login-button:hover {
  background-color: #4a61cd;
}

/* === Task List === */
.task-list-container {
  width: 100%;
  height: 40rem;
  padding: 0.6rem;
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #364fc7 transparent;
  scrollbar-gutter: stable;
}

.task-list-container::-webkit-scrollbar {
  width: 10px;
}

.task-list-container::-webkit-scrollbar-track {
  background: transparent;
  margin: 10px 0;
}

.task-list-container::-webkit-scrollbar-thumb {
  background: #364fc7;
  border-radius: 10px;
}

.task-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border: 1px solid #ebedf9;
  border-radius: 10px;
  transition: all 0.1s;
}

.task-paragraph {
  color: #ebedf9;
  font-size: 2.4rem;
  min-width: 26rem;
  max-width: 30rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2;
  padding-bottom: 0.2rem;
}

.completed .task-paragraph {
  text-decoration: line-through;
  opacity: 0.6;
}

.completed {
  box-shadow: 0 0 7px 1px #20d420;
}

.buttons-container {
  display: flex;
  gap: 1rem;
}

.buttons-container-btn {
  color: #c3caee;
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
  padding: 0.4rem;
  border-radius: 1rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s;
}

.buttons-container-btn:hover {
  background-color: #10183c;
}

.clear-completed-tasks-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  align-self: flex-end;
}

.clear-btn {
  color: #c3caee;
  background: none;
  border: none;
  border-radius: 1rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  cursor: pointer;
  transition: all 0.2s;
}

.clear-btn:hover {
  color: #ebedf9;
}

.trash-icon {
  stroke: currentColor;
  width: 2rem;
  height: 2rem;
  color: inherit;
}

.trash-icon:hover {
  color: #ebedf9;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-container {
  width: 42rem;
  height: 12rem;
  padding: 3rem 2rem 2rem 2rem;
  display: none;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  background-color: #050814;
  box-shadow: 0 0 40px 1px #7284d8;
  border-radius: 20px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  position: relative;
  z-index: 20;
}

.overlay.active,
.edit-container.active,
.close-icon.active,
.eye-btn.active,
.sign-up-form__eye-btn.active {
  opacity: 1;
  visibility: visible;
}

.edit-container.active {
  display: flex;
}

.close-icon {
  position: absolute;
  top: 0.4rem;
  right: 1rem;
  width: 3.2rem;
  stroke: #364fc7;
  cursor: pointer;
  transition: all 0.3s;
}

.close-icon:hover {
  stroke: #4a61cd;
}

.log-in-form,
.sign-up-form {
  width: 46rem;
  /*height: 100%;*/
  background-color: #050814;
  box-shadow: 0 0 40px 1px #7284d8;
  padding: 2rem 4rem 3rem 4rem;
  border-radius: 20px;
  flex-direction: column;
  align-items: center;
  gap: 5.2rem;
  position: relative;
}

.log-in-form {
  display: flex;
}

.sign-up-form {
  display: none;
}

.return-btn {
  stroke: #364fc7;
  cursor: pointer;
  width: 4.6rem;
  transition: all 0.3s;
  position: absolute;
  top: 1rem;
  left: 2rem;
}

.return-btn:hover {
  stroke: #4a61cd;
}

.log-in-container,
.password-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-buttons-container {
  display: flex;
  gap: 1rem;
}

label {
  color: #ebedf9;
  font-size: 2.8rem;
}

.log-in-form__log-in-btn,
.log-in-form__sign-up-btn,
.sign-up-form__sign-up-btn {
  margin-top: -2rem;
  width: 14rem;
  height: 6rem;
  text-transform: uppercase;
  border: none;
  font-size: 3rem;
  font-weight: 700;
  border-radius: 1rem;
  /*padding: 1rem;*/

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s;
}

.log-in-form__log-in-btn,
.sign-up-form__sign-up-btn {
  color: #ebedf9;
  background-color: #364fc7;
}

.log-in-form__log-in-btn:hover,
.sign-up-form__sign-up-btn:hover {
  background-color: #4a61cd;
}

.log-in-form__sign-up-btn {
  color: #364fc7;
  background-color: transparent;
  border: 1px solid #364fc7;
}

.log-in-form__sign-up-btn:hover {
  color: #ebedf9;
  background-color: #4a61cd;
}

.error-container,
.success-container {
  display: none;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  z-index: 100;
  color: #ebedf9;
  position: absolute;
  top: 8rem;
  background-color: #050814;
  box-shadow: 0 0 10px 1px #9d0202;
  border-radius: 1rem;
  padding: 2rem 2rem;
  max-width: 40rem;
  transform: translatey(-200%);
  transition: all 0.5s ease-out;
}

.success-container {
  box-shadow: 0 0 10px 1px #20d420;
  z-index: 1000;
}

.error-container.show,
.success-container.show {
  /*display: flex;*/
  transform: translatey(0);
}

.error-icon,
.success-icon {
  min-width: 5.2rem;
  width: 5.2rem;
  stroke: #364fc7;
}

.error-text,
.success-text {
  font-size: 2rem;
  word-wrap: break-word;
  white-space: normal;
  max-width: 34rem;
}

.password-input-container {
  position: relative;
}

.eye-btn path,
.sign-up-form__eye-btn path {
  pointer-events: none;
}

.eye-btn,
.sign-up-form__eye-btn {
  position: absolute;
  width: 4rem;
  right: -4.6rem;
  stroke: #364fc7;
  cursor: pointer;
  transition: hover 0.2s;
  visibility: hidden;
  opacity: 0;
  z-index: 100;
}

.eye-btn:hover,
.sign-up-form__eye-btn:hover {
  stroke: #4a61cd;
}
